fir2dim.cache/
fir2dim.hw/
fir2dim.runs/clk_manager_synth_1
fir2dim.runs/ddr2_ctrl_synth_1
fir2dim.runs/synth_1
fir2dim.runs/.jobs

fir2dim.runs/impl_1/*.bat
fir2dim.runs/impl_1/*.dcp
fir2dim.runs/impl_1/*.js
fir2dim.runs/impl_1/*.log
fir2dim.runs/impl_1/*.html
fir2dim.runs/impl_1/*.rst
fir2dim.runs/impl_1/*.os
fir2dim.runs/impl_1/*.pb
fir2dim.runs/impl_1/*.sh
fir2dim.runs/impl_1/*.rpx
fir2dim.runs/impl_1/*.tcl
fir2dim.runs/impl_1/*.txt
fir2dim.runs/impl_1/*.vdi
fir2dim.runs/impl_1/*.vds
fir2dim.runs/impl_1/*.wdf
fir2dim.runs/impl_1/*.xdc
fir2dim.runs/impl_1/*.xml

fir2dim.sim/
*.str