matmul_int.cache/
matmul_int.hw/
matmul_int.runs/clk_manager_synth_1
matmul_int.runs/ddr2_ctrl_synth_1
matmul_int.runs/synth_1
matmul_int.runs/.jobs

matmul_int.runs/impl_1/*.bat
matmul_int.runs/impl_1/*.dcp
matmul_int.runs/impl_1/*.js
matmul_int.runs/impl_1/*.log
matmul_int.runs/impl_1/*.html
matmul_int.runs/impl_1/*.rst
matmul_int.runs/impl_1/*.os
matmul_int.runs/impl_1/*.pb
matmul_int.runs/impl_1/*.sh
matmul_int.runs/impl_1/*.rpx
matmul_int.runs/impl_1/*.tcl
matmul_int.runs/impl_1/*.txt
matmul_int.runs/impl_1/*.vdi
matmul_int.runs/impl_1/*.vds
matmul_int.runs/impl_1/*.wdf
matmul_int.runs/impl_1/*.xdc
matmul_int.runs/impl_1/*.xml

matmul_int.sim/
*.str