config.mk*
*~
hardware/generated
hardware/project
hardware/target
hardware/build
tools/c/build
tools/java/build
tools/scripts/build
tmp/
simulator/build
install/
doc/c_doc
hardware/modelsim/work/
sim/hwa_bram/work
sim/dual_bank/work
sim/hwa_list_multiply/work
sim/hwa_matmul_1b/work
sim/hwa_matmul_2b/work
sim/n_bank/work
sim/spm/work

hardware/quartus/altde2-115/db
hardware/quartus/altde2-115/incremental_db
hardware/quartus/altde2-115-mc

*_summary.xml
*_usage.xml
*_pn.xml

*.fdb_latexmk
*.pof
*.sld
*.fls
*.mti
*.bld
*.cmd_log
*.ncd
*.lso
*.ngc
*.ngd
*.ngr
*.par
*.pcf
*.stx
*.syr
*.xst
*.map
*.mrp
*.ngm
*.xrpt
*.log
*.vcd
*.pdf
*.qdf
*.summary
*.pin
*.rpt
*.smsg
*.orig
*.i
*.o
*.old
*.ini
*.out
*.tmp
*.jdi
*.str
vivado*.zip

# Ignore Vivado journal files
vivado*.jou
webtalk*.jou

# Ignore LaTeX temp files
doc/**/*.aux
doc/**/*.toc
doc/**/*.bbl
doc/**/*.blg
doc/**/*.lof
doc/**/*.lot
doc/**/*.lol
doc/**/*.synctex.gz

# Ignore KDevelop project files
*.kdev4
