filter_bank.cache/
filter_bank.hw/
filter_bank.runs/clk_manager_synth_1
filter_bank.runs/ddr2_ctrl_synth_1
filter_bank.runs/synth_1
filter_bank.runs/.jobs

filter_bank.runs/impl_1/*.bat
filter_bank.runs/impl_1/*.dcp
filter_bank.runs/impl_1/*.js
filter_bank.runs/impl_1/*.log
filter_bank.runs/impl_1/*.html
filter_bank.runs/impl_1/*.rst
filter_bank.runs/impl_1/*.os
filter_bank.runs/impl_1/*.pb
filter_bank.runs/impl_1/*.sh
filter_bank.runs/impl_1/*.rpx
filter_bank.runs/impl_1/*.tcl
filter_bank.runs/impl_1/*.txt
filter_bank.runs/impl_1/*.vdi
filter_bank.runs/impl_1/*.vds
filter_bank.runs/impl_1/*.wdf
filter_bank.runs/impl_1/*.xdc
filter_bank.runs/impl_1/*.xml

filter_bank.sim/
*.str