adpcm.cache/
adpcm.hw/
adpcm.runs/clk_manager_synth_1
adpcm.runs/ddr2_ctrl_synth_1
adpcm.runs/synth_1
adpcm.runs/.jobs

adpcm.runs/impl_1/*.bat
adpcm.runs/impl_1/*.dcp
adpcm.runs/impl_1/*.js
adpcm.runs/impl_1/*.log
adpcm.runs/impl_1/*.html
adpcm.runs/impl_1/*.rst
adpcm.runs/impl_1/*.os
adpcm.runs/impl_1/*.pb
adpcm.runs/impl_1/*.sh
adpcm.runs/impl_1/*.rpx
adpcm.runs/impl_1/*.tcl
adpcm.runs/impl_1/*.txt
adpcm.runs/impl_1/*.vdi
adpcm.runs/impl_1/*.vds
adpcm.runs/impl_1/*.wdf
adpcm.runs/impl_1/*.xdc
adpcm.runs/impl_1/*.xml

adpcm.sim/
*.str