minver_float.cache/
minver_float.hw/
minver_float.runs/clk_manager_synth_1
minver_float.runs/ddr2_ctrl_synth_1
minver_float.runs/synth_1
minver_float.runs/.jobs

minver_float.runs/impl_1/*.bat
minver_float.runs/impl_1/*.dcp
minver_float.runs/impl_1/*.js
minver_float.runs/impl_1/*.log
minver_float.runs/impl_1/*.html
minver_float.runs/impl_1/*.rst
minver_float.runs/impl_1/*.os
minver_float.runs/impl_1/*.pb
minver_float.runs/impl_1/*.sh
minver_float.runs/impl_1/*.rpx
minver_float.runs/impl_1/*.tcl
minver_float.runs/impl_1/*.txt
minver_float.runs/impl_1/*.vdi
minver_float.runs/impl_1/*.vds
minver_float.runs/impl_1/*.wdf
minver_float.runs/impl_1/*.xdc
minver_float.runs/impl_1/*.xml

minver_float.sim/
*.str