matmul_float.cache/
matmul_float.hw/
matmul_float.runs/clk_manager_synth_1
matmul_float.runs/ddr2_ctrl_synth_1
matmul_float.runs/synth_1
matmul_float.runs/.jobs

matmul_float.runs/impl_1/*.bat
matmul_float.runs/impl_1/*.dcp
matmul_float.runs/impl_1/*.js
matmul_float.runs/impl_1/*.log
matmul_float.runs/impl_1/*.html
matmul_float.runs/impl_1/*.rst
matmul_float.runs/impl_1/*.os
matmul_float.runs/impl_1/*.pb
matmul_float.runs/impl_1/*.sh
matmul_float.runs/impl_1/*.rpx
matmul_float.runs/impl_1/*.tcl
matmul_float.runs/impl_1/*.txt
matmul_float.runs/impl_1/*.vdi
matmul_float.runs/impl_1/*.vds
matmul_float.runs/impl_1/*.wdf
matmul_float.runs/impl_1/*.xdc
matmul_float.runs/impl_1/*.xml

matmul_float.sim/
*.str