matmul_float.cache/
matmul_float.hw/
matmul_float.runs/clk_manager_synth_1
matmul_float.runs/ddr2_ctrl_synth_1
matmul_float.runs/impl_1
matmul_float.runs/.jobs

matmul_float.runs/*.bat
matmul_float.runs/*.js
matmul_float.runs/*.log
matmul_float.runs/*.rst
matmul_float.runs/*.os
matmul_float.runs/*.sh
matmul_float.runs/*.tcl
matmul_float.runs/*.txt
matmul_float.runs/*.vds
matmul_float.runs/*.xdc
matmul_float.runs/*.xml

matmul_float.sim/
*.str