filterbank.cache/
filterbank.hw/
filterbank.runs/clk_manager_synth_1
filterbank.runs/ddr2_ctrl_synth_1
filterbank.runs/synth_1
filterbank.runs/.jobs

filterbank.runs/impl_1/*.bat
filterbank.runs/impl_1/*.dcp
filterbank.runs/impl_1/*.js
filterbank.runs/impl_1/*.log
filterbank.runs/impl_1/*.html
filterbank.runs/impl_1/*.rst
filterbank.runs/impl_1/*.os
filterbank.runs/impl_1/*.pb
filterbank.runs/impl_1/*.sh
filterbank.runs/impl_1/*.rpx
filterbank.runs/impl_1/*.tcl
filterbank.runs/impl_1/*.txt
filterbank.runs/impl_1/*.vdi
filterbank.runs/impl_1/*.vds
filterbank.runs/impl_1/*.wdf
filterbank.runs/impl_1/*.xdc
filterbank.runs/impl_1/*.xml

filterbank.sim/
*.str