recon_matrix_32x32.cache/
recon_matrix_32x32.hw/
recon_matrix_32x32.runs/clk_manager_synth_1
recon_matrix_32x32.runs/ddr2_ctrl_synth_1
recon_matrix_32x32.runs/synth_1
recon_matrix_32x32.runs/.jobs

recon_matrix_32x32.runs/impl_1/*.bat
recon_matrix_32x32.runs/impl_1/*.dcp
recon_matrix_32x32.runs/impl_1/*.js
recon_matrix_32x32.runs/impl_1/*.log
recon_matrix_32x32.runs/impl_1/*.html
recon_matrix_32x32.runs/impl_1/*.rst
recon_matrix_32x32.runs/impl_1/*.os
recon_matrix_32x32.runs/impl_1/*.pb
recon_matrix_32x32.runs/impl_1/*.sh
recon_matrix_32x32.runs/impl_1/*.rpx
recon_matrix_32x32.runs/impl_1/*.tcl
recon_matrix_32x32.runs/impl_1/*.txt
recon_matrix_32x32.runs/impl_1/*.vdi
recon_matrix_32x32.runs/impl_1/*.vds
recon_matrix_32x32.runs/impl_1/*.wdf
recon_matrix_32x32.runs/impl_1/*.xdc
recon_matrix_32x32.runs/impl_1/*.xml

recon_matrix_32x32.sim/
*.str